:root{
  --primary-color: black;
  --background-color: white;
  --third-color: #08758f;
  --fourth-color: #f1f1f1;
  --notches-font-size: 16px;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-font-family: 'Arial', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width:100%;
  height: 100%;
}

body {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul{
  padding-left: 20px;
}

a {
  color: var(--third-color);
  text-decoration: none;
  white-space: nowrap;
}



main {
  height: 100%;
  margin-top: 120px;
  margin-left: 80px;
  margin-bottom: 80px;
  width: 75%;
  text-align: center;
  overflow: auto;
}

section {
  width: 80%;
  margin: 40px 0;
  text-align: left;
}

main::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 42px;
  margin: 20px 0;
}

h2{
  margin: 20px 0;
  font-size: 32px;
  font-family: var(--secondary-font-family);
}

h3{
  margin: 10px 0;
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

footer {
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  align-items: center;
  font-family: var(--secondary-font-family);
}




#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: var(--fourth-color);
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  z-index: 0;
}
#sidebar-checkbox:checked ~ #sidebar {
  width: 200px;
}


/* Invisible element to close the sidebar clicking anywhere */
#sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}
#sidebar-checkbox:checked ~ #sidebar-overlay {
  display: block;
}

/* Sidebar Open/Close simbol */
#sidebar-toggler {
  position: absolute;
  right: -12.5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar-toggler .chevron-right {
  display: none;
}
#sidebar-checkbox:checked ~ #sidebar #sidebar-toggler .chevron-left {
  display: none;
}
#sidebar-checkbox:checked ~ #sidebar #sidebar-toggler .chevron-right {
  display: inline;
}


/* Sidebar Content */
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 24px;
}

#main-menu{
  margin-top: 50px;
  width: 100%;
  transition: width 0.3s;
  align-items: center;
}

.menu-item {
  list-style: none;
  width: 100%;
  padding: 10px;
}

/* Showing the name of the icon when Sidebar open */
#sidebar .menu-item a span {
  display: inline-block;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.2s ease;
}
#sidebar-checkbox:checked ~ #sidebar .menu-item a span {
  width: 100%;
  opacity: 1;
}


.menu-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
  font-size: var(--notches-font-size);
  display: flex;
  align-items: center;
  gap: 10px;
}







/* Table (dates) */
table {
  margin: 0 auto;
  border-collapse: collapse;
}

tbody, th, td {
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
}

tr:nth-child(even) {
  background-color: var(--fourth-color);
}

tr:nth-child(odd) {
  background-color: var(--background-color);
}



/* Sponsor section */
#sponsors-section{
  width: 100%;
}

.bento{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; 
  grid-template-areas: 
    "sponsorBox-1 sponsorBox-1 sponsorBox-2 sponsorBox-3"
    "sponsorBox-1 sponsorBox-1 sponsorBox-2 sponsorBox-4";
}

.box {
  align-content: center;
}

.box > img {
  width: 100%;
}
